@keyframes ani-head {
    to { transform: rotateX(-10deg); }
}

@keyframes ani-running-leg {
    from {
        transform: rotateX(-30deg);
    }
    to {
        transform: rotateX(30deg);
    }
}

@keyframes ani-running-arm {
    from {
        transform: rotateY(30deg);
    }
    to {
        transform: rotateY(-30deg);
    }
}

/* reset */
body {
    height: 500vw;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: #c7c7c7;
    transition: .5s;
}

body[data-char = 'ragirl'] {
    background: #3a1e5e;
}
/* position 고정하고 꽉 채우기 */
.world {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

/* position absolute로 고정하고 꽉 채우기, 3d perspective 보존하기 */
.stage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* world에 준 3d perspective를 자식 element들까지 보존(preserve) */
    transform-style: preserve-3d;
}

.house {
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
}

.wall-left {
    /* left: -500vw; */
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(-500vw);
}

.wall-right {
    /* left: -500vw; */
    width: 1000vw;
    background: #f8f8f8;
    /* left: wall-right의 축 기준 z축(뷰포트 기준 x축, wall-right가 회전되어 있기 때문.)으로 wall-right의 width/2(500vw) 빼기 wall의 width(100vw)만큼 이동. */
    transform: rotateY(90deg) translateZ(-400vw);
}

.wall-front-a { transform: translateZ(300vw); }
.wall-front-b { transform: translateZ(50vw); }
.wall-front-c { transform: translateZ(-200vw); }
.wall-front-d { transform: translateZ(-500vw); }

.wall-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wall-title {
    font-size: 5rem;
}

.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background: #555;
}

.progress-bar {
    width: 0;
    height: 100%;
    background: #00a8ff
}
    
/* character */
.character {
    position: absolute;
    left: 12%;
    bottom: 5%;
    width: 10vw;
    height: 15.58vw;
    transform-style: preserve-3d;
}
.character[data-direction='forward'] { transform: rotateY(180deg); }
.character[data-direction='backward'] { transform: rotateY(0deg); }
.character[data-direction='left'] { transform: rotateY(-90deg); }
.character[data-direction='right'] { transform: rotateY(90deg); }
.character-face-con {
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}
.character-face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.character-face.face-back {
    transform: rotateY(180deg);
}
.character-head {
    left: calc(42 / 856 * 100%);
    top: 0;
    z-index: 60;
    width: calc(770 / 856 * 100%);
    height: calc(648 / 1334 * 100%);
    transform-origin: center bottom;
    animation: ani-head 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
}
.character-head-face.face-front { background-image: url('../images/neoguri_head_front.png'); }
.character-head-face.face-back { background-image: url('../images/neoguri_head_back.png'); }
.character-torso {
    left: calc(208 / 856 * 100%);
    top: calc(647 / 1334 * 100%);
    z-index: 50;
    width: calc(428 / 856 * 100%);
    height: calc(385 / 1334 * 100%);
    transform-origin: center center;
}
.character-torso-face.face-front { background-image: url('../images/neoguri_body_front.png'); }
.character-torso-face.face-back { background-image: url('../images/neoguri_body_back.png'); }
.character-arm-right {
    left: 0;
    top: calc(648 / 1334 * 100%);
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: right top;
}
.character-arm-right .face-front { background-image: url('../images/neoguri_arm_0.png'); }
.character-arm-right .face-back { background-image: url('../images/neoguri_arm_1.png'); }
.character-arm-left {
    left: calc(600 / 856 * 100%);
    top: calc(648 / 1334 * 100%);
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: left top;
}
.character-arm-left .face-front { background-image: url('../images/neoguri_arm_1.png'); }
.character-arm-left .face-back { background-image: url('../images/neoguri_arm_0.png'); }
.character-leg-right {
    left: calc(200 / 856 * 100%);
    top: calc(1031 / 1334 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg-right .face-front { background-image: url('../images/neoguri_leg_0.png'); }
.character-leg-right .face-back { background-image: url('../images/neoguri_leg_1.png'); }
.character-leg-left {
    left: calc(414 / 856 * 100%);
    top: calc(1031 / 1334 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg-left .face-front { background-image: url('../images/neoguri_leg_1.png'); }
.character-leg-left .face-back { background-image: url('../images/neoguri_leg_0.png'); }
.character.running .character-leg-right { animation: ani-running-leg 0.2s alternate infinite linear; }
.character.running .character-leg-left { animation: ani-running-leg 0.2s alternate-reverse infinite linear; }
.character.running .character-arm { animation: ani-running-arm 0.2s alternate infinite linear; }
body[data-char='neosawon'] .character {
    width: 12vw;
    height: calc(12vw * 1.4135);
}
body[data-char='neosawon'] .character-head {
    left: calc(23 / 948 * 100%);
    width: calc(920 / 948 * 100%);
    height: calc(750 / 1340 * 100%);
}
body[data-char='neosawon'] .character-head-face.face-front { background-image: url('../images/neosawon_head_front.png'); }
body[data-char='neosawon'] .character-head-face.face-back { background-image: url('../images/neosawon_head_back.png'); }
body[data-char='neosawon'] .character-torso {
    left: calc(273 / 948 * 100%);
    top: calc(630 / 1340 * 100%);
    z-index: 50;
    width: calc(402 / 948 * 100%);
    height: calc(444 / 1340 * 100%);
    transform-origin: center center;
}
body[data-char='neosawon'] .character-torso-face.face-front { background-image: url('../images/neosawon_body_front.png'); }
body[data-char='neosawon'] .character-torso-face.face-back { background-image: url('../images/neosawon_body_back.png'); }
body[data-char='neosawon'] .character-arm-right {
    left: calc(134 / 948 * 100%);
    top: calc(709 / 1340 * 100%);
    width: calc(138 / 948 * 100%);
    height: calc(300 / 1340 * 100%);
    transform-origin: right top;
}
body[data-char='neosawon'] .character-arm-right .face-front { background-image: url('../images/neosawon_arm_0_back.png'); }
body[data-char='neosawon'] .character-arm-right .face-back { background-image: url('../images/neosawon_arm_1_back.png'); }
body[data-char='neosawon'] .character-arm-left {
    left: calc(675 / 948 * 100%);
    top: calc(709 / 1340 * 100%);
    width: calc(138 / 948 * 100%);
    height: calc(300 / 1340 * 100%);
    transform-origin: left top;
}
body[data-char='neosawon'] .character-arm-left .face-front { background-image: url('../images/neosawon_arm_1_back.png'); }
body[data-char='neosawon'] .character-arm-left .face-back { background-image: url('../images/neosawon_arm_0_back.png'); }
body[data-char='neosawon'] .character-leg-right {
    left: calc(268 / 948 * 100%);
    top: calc(1060 / 1340 * 100%);
    width: calc(226 / 948 * 100%);
    height: calc(264 / 1340 * 100%);
    transform-origin: center top;
}
body[data-char='neosawon'] .character-leg-right .face-front { background-image: url('../images/neosawon_leg_0.png'); }
body[data-char='neosawon'] .character-leg-right .face-back { background-image: url('../images/neosawon_leg_1.png'); }
body[data-char='neosawon'] .character-leg-left {
    left: calc(452 / 948 * 100%);
    top: calc(1060 / 1340 * 100%);
    width: calc(226 / 948 * 100%);
    height: calc(264 / 1340 * 100%);
    transform-origin: center top;
}
body[data-char='neosawon'] .character-leg-left .face-front { background-image: url('../images/neosawon_leg_1.png'); }
body[data-char='neosawon'] .character-leg-left .face-back { background-image: url('../images/neosawon_leg_0.png'); }

/* character button */
.select-character {
    display: flex;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
}
.select-character-btn {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
    transition: 0.5s;
}
.select-character-btn-neoguri {
    background-image: url('../images/neoguri_head_front.png');
    background-size: 60px auto;
}
.select-character-btn-neosawon {
    background-image: url('../images/neosawon_head_front.png');
    opacity: 0.5;
}
body[data-char='neosawon'] .select-character-btn-neoguri {
    opacity: 0.5;
}
body[data-char='neoguri'] .select-character-btn-neoguri,
body[data-char='neosawon'] .select-character-btn-neosawon {
    opacity: 1;
}